@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(40, 100%, 97%);
  --color-gray: hsl(240, 3%, 71%);
  --color-primary: #e5a70b;
  --color-secondary: #ffd56b;
  --color-terciary:  hsl(0, 100%, 44%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);
  --color-success: hsl(120, 95%, 65%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

body
{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}
a
{
    text-decoration: none;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }


/* .cols__container {
    position: absolute;
    left: 55%;
    transform: translateX(-45%);
} */

.header__wrapper .left__col 
{
    /* padding: 25px 20px; */
    text-align: center;
    /* width: 60vh; */
    /* left: 10%; */
    /* background-color: red; */
    
}

.header__wrapper .img__container
{
    
    /*background-color: blue; */
    min-width: 30vh;
    max-width: 40vh;
    justify-content: center;
    align-items: center;
    
    margin-right: 10%;
}

.header__wrapper  .img__container img {
    width: 200px;
    height: 200px;
    /* object-fit se usa para que la imagen siempre ocupe el mismo espacio */
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper .left__col h2
{
    margin-top: 20px;
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 0;
}
.header__wrapper p
{
    font-size: 0.8rem;
    color: #818181;
    margin: 0;
}
.header__wrapper .left__col .about
{
    background: var(--color-secondary);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    justify-content: space-between;
    position: relative;
    margin: 0.2rem 5px;
}
/* .header__wrapper .cols__container .left__col ul
{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
} */
.header__wrapper .left__col .about li
{
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    font-size: 0.9rem;
}
.header__wrapper .left__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
  }

  .header__wrapper .top:after {
    position: absolute;
    align-content: center;
    content: "";
    bottom: -16px;
    display: block;
    height: 1px;
    width: 200%;
  }
  
  .header__wrapper .right__col .nav-profile {
    display: flex;
    align-items: center;
    padding: var(--card-padding);
    justify-content: center;
    flex-direction: column; 
    /* background-color: aqua;  */
  }
  
  .header__wrapper .right__col .nav-profile ul {
    display: flex;
    margin: 0 20px;
    padding: 0 30px;
    list-style-type: none; 
} 

.header__wrapper .right__col .nav-profile ul button {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #818181;
  background-color: transparent;
  transition: all .5s ease;
  flex-grow: 1;
  text-align: center;
  border-bottom: 2px solid transparent; /* borde inferior transparente */
  border-radius: 0%;
  margin: 0;
}

.header__wrapper .right__col .nav-profile ul button:hover {
  color: black;
  border-bottom-color: black; /* borde inferior negro al hacer hover */
}
.header__wrapper .right__col .nav-profile button {
    background: var(--color-gray);
    color: #fff;
    border: none;
    padding: var(--btn-padding);
    border-radius: var(--card-border-radius);
    cursor: pointer;
    margin-top: 20px;
    /* position: relative; */
    /* right: -20%;
    height: 15%;
    width: 14%; */
    font-size: 1rem;
}

  .header__wrapper .right__col .nav-profile button:hover {
    opacity: 0.8;
  }
  .header__wrapper .right__col .section-content .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 10px;
  }
  
  .frame {
    height: 50vh; /* Establece el tamaño fijo deseado para el frame */
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-rows: 80% 20%;
    border: 2px solid #000;
    border-radius: 8px;
    box-sizing: border-box; /* Asegura que el tamaño se calcule incluyendo el borde y el relleno */
  }
  
  .daddy-posti {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .posti {
    padding-top: 1vh;
    width: 95%;
    height: 100%;
    object-fit: cover;
  }
  
  .bottom-posti {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.1vh;
    font-size: 1.4rem;
  }
  
  
  

  .header__wrapper .right__col .section-content .grid img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  
  .section-content {
    display: none;
  }
  
  .section-content.active {
    display: block;
  }
  
  @media (min-width: 868px) {
    .header__wrapper {
      max-width: 1000px;
      width: 100%;
      justify-content: space-between;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
    }
  
    .header__wrapper .right__col .nav-profile ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
    .header__wrapper .right__col .section-content .grid {
      height: 360px;
      overflow: auto;
      padding: 0 0 30px;
    }
  }
  .header__wrapper .right__col .section-content .grid::-webkit-scrollbar {
    width: 15px;
  }
  
  .header__wrapper .right__col .section-content .grid::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .header__wrapper .right__col .section-content .grid::-webkit-scrollbar-thumb {
    background-color: rgb(49, 48, 48);
    border-radius: 100px;
  }
  
  @media (min-width: 1017px) {
    .header__wrapper .left__col {
      margin: 0;
      margin-bottom: auto;
    }
  
    .header__wrapper .right__col .nav-profile {
      flex-direction: row;
    }
  
    .header__wrapper .right__col .nav-profile button {
      margin-top: 0;
    }
  }
  
  

  main .container{
    display: grid;
    grid-template-columns: 18vw auto ;
    column-gap: 5rem;
    position: relative;
}
main .container .right{
  display: none;
}


