* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	background: radial-gradient(circle, #ddbc68, #e5a70b);
	overflow-y: hidden;
	overflow-x: hidden;
}
#logo {
	position: absolute;
	height: 70%;
	top: 0;
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}
#logo.visible
{
	opacity: 1;
}
.container {
	position: absolute;
	width: 450px;
	height: 450px;
	min-width: 70%;
	min-height: 70%;
	max-width: 100%;
	max-height: 100%;
	top: -5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 800ms;
}
.container.active {
	transform: rotateY(-90deg);
}
.container .waves {
	left: 2%;
	top: -30%;
	width: 140vh;
	height: 140vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .login {
	position: absolute;
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 50%;
	gap: 20px;  
	opacity: 0;
	transition: opacity 0.8s ease-in-out;
}
.login.visible {
	opacity: 1;
}
.container .login h2 {
	font-size: 2em;
	color: #fff;
}
.container .login .inputBx input {
	position: relative;
	width: 100%;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 40px;
	font-size: 1.2em;
	color: #fff;
	box-shadow: none;
	outline: none;
	display: flex;
	padding: 12px 20px;
}
.container .login .inputBx input[type="submit"] {
	background: linear-gradient(45deg, #8d2c34, #ffc925);
	border: none;
	cursor: pointer;
	font-size: 1.2em;
}
.container .login .links {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.container .login .links a {
	color: #FFF;
	text-decoration: none;
}

.container i {
	position: absolute;
	inset: 0;
	border: 2px solid #fff;
	transition: .5s;
}
.container i:nth-child(1) {
	border-radius: 82% 18% 70% 30% / 22% 77% 23% 78%;
	animation: animate 36s linear infinite;
}
.container i:nth-child(2) {
	border-radius: 49% 51% 39% 61% / 20% 42% 58% 80%;
	animation: animate 26s linear infinite;
}
.container i:nth-child(3) {
	border-radius: 49% 51% 39% 61% / 20% 21% 79% 80%;
	animation: animate2 20s linear infinite;
}
@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes animate2 {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.waves.active {
	border: 6px solid var(--clr);
}

.forms {
	position: relative;
	width: 250px;
	
}
.forms input {
	width: 100%;
	border: 1px solid;
	border-radius: 5px;
	outline: none;
	font-size: 1em;
	padding: 10px;
}
.forms span {
	position: absolute;
	left: 6%;
	top: 10%;
	pointer-events: none;
	font-size: 1em;
	text-transform: uppercase;
	transition: .5s;
	color: #FFF;
	padding: 10px;
}
.forms input:valid~span, .forms input:focus~span {
	transform: translateX(10%) translateY(-74%);
	font-size: .65em;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	background: #ddbc68;
	letter-spacing: .2em;
	color: #FFF;
	padding: 0 10px;
}
.wrapper ul {
	list-style: none;
}
.wrapper ul li .fa {
	color: #fff;
	transition: all .5s ease;
}
.wrapper ul li:hover .fa-google {
	color: #dd4b39;
	text-shadow: 0 0 15px #dd4b39;
	transition: all .5s ease ;
}

.container .login .links .link:hover {
	transition: all .5s ease ;
}

.container .login .links #signup:hover {
	color:#380b22;
	text-shadow: 0 0 15px #380b22;

}

.container .login .links #forgot:hover {
	color:#2009b8;
	text-shadow: 0 0 15px #2009b8;

}
.container .login .inputBx #loGin {
	transition: .5s ease;
	color: #FFF;
	text-decoration: none;
  }
.container .login .inputBx #loGin:hover {
	color: #380b22;
	text-shadow: 0 0 15px #380b22;
  }
  