@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;;
}

/* DISEÑO SIDEBAR*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: radial-gradient( circle, #ddbc68 , #e5a70b );
}

.sidebar__logoDetails {
    height: 30px;
    padding-top: 150px;
    padding-left: 40px;
    padding-bottom: 130px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar__nav-links {
    height: 100%;
    padding-top: 10px;
}

/*Le cambia el color a todos los iconos*/
.sidebar__nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: black;
}

.sidebar__nav-links li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar__nav-links-home li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar__nav-links li a .link_name{
    color: black;
    font-size: 18px;
}

.sidebar__nav-links-home a i{
    color: white;
    font-size: 20px;
}

.sidebar__nav-links-home a i{
    color: white;
    font-size: 20px;
}

.link_name-home{
    text-decoration: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.sidebar__nav-links-more
{
    padding-top: 250px ;
}

/*----------------------------------------------------------------------------------------------*/


