
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans',sans-serif;
}

/*menu*/
.sidebar{
  margin-top: 1rem;
  background: radial-gradient( circle, #ddbc68 , #e5a70b);
  border-radius: var(--card-border-radius);
}

.sidebar .menu-item{
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  color: black;
}

.sidebar .menu-item:hover{
  background: var(--color-light);
}

.sidebar i{
  font-size: 1.4rem;
  margin-left: 2rem;
  position: relative;
}

.sidebar i .notification-count{
  background: var(--color-terciary);
  color: white;
  font-size: 0.7rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.sidebar h3{
  margin-left: 1.5rem;
  font-size: 1rem;
}

.sidebar .active{
  background: var(--color-white);
}

.sidebar .active i,
.sidebar .active h3{
  color: var(--color-primary);
}

.sidebar .active::before{
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

.sidebar .menu-item:first-child.active{
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.sidebar .menu-item:last-child.active{
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

body
{
  display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	overflow-y: hidden;
	overflow-x: hidden;
}

/*------------------------------------------------------------------------------*/
.section-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

}

.section-content.active {
  display: block;
  opacity: 1;
}
.profile-sections
{
}
.botones
{
  flex-direction: row;
  padding: 12px 20px;
  box-shadow: none;
	outline: none;
  gap: 30vh;
  display: flex;
}
